# Unreal Engine generated folders
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/
*.VC.db
*.opensdf
*.sdf
*.sln
*.suo
*.xcworkspace
*.xcodeproj

# Compiled object files
*.o
*.obj
*.pch

# OS files
.DS_Store
Thumbs.db
